<!-- Simulator-only launch file. Loads the robot and world mxels. -->
<launch>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find turtlebot_gazebo)/worlds" />
  <arg name="world_file" value="playground.world" />
  
  <!-- Load gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!-- Spawn robot model -->
  <node name="spawn_turtlebot_model" pkg="gazebo_ros" type="spawn_model"
        args="-unpause -urdf -param robot_description -model mobile_base" />
</launch>
